.rounded {
    border-radius: 5px;
  }
  input {
    width: 60%;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 3px;
  }
  .gradient-box {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  #gradient-boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  code {
    background: white;
    color: black;
    border-radius: 3px;
    padding: 0 3px;
  }